{% extends "base.html" %}

{% block title %}Логин пользователя{% endblock %}

{% block content %}
    <h2>Логин пользователя:</h2>
    {% if form.errors %}
    <p>
        Неверные данные
    </p>
    {% else %}
    {% endif %}
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Логин">
        <input type="hidden" name="Далее" value="{{ next }}">
    </form>
    <a href="{% url "lesson:password_reset" %}">Забыли свой пароль? </a> <br>
    <a href="{% url "lesson:register" %}">Регистрация </a>
{% endblock %}