{% extends "base.html" %}

{% block title %}Изменение пароля{% endblock %}

{% block content %}
  <h1>Изменить пароль</h1>
  {% if validlink %}
    <p>Пожалуйста, введите новый пароль:</p>
    <form action="." method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Изменить пароль" /></p>
    </form>
  {% else %}
    <p>Ссылка на изменение пароля не действидельна, потому что, возможно, она уже используется. Пожалуйста, попробуйте изменить пароль ещё раз.</p>
  {% endif %}
{% endblock %}