{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} MY TITLE DEFAULT {% endblock %}</title>
    <link href="{% static "styles.css" %}" rel="stylesheet">
</head>
<body> 
    {% if request.user.is_authentificated %}
    Здравствуйте, {{ request.user.first_name }} <a href="{% url "lesson:logout" %}">Логаут</a> <a href="{% url "lesson:profile" %}">Profile</a>
    {% else %}
        <a href="{% url "lesson:login" %}">Логин</a>
    {% endif %}
   {% block content %} 
   {% endblock %} 
</body>
</html>