{% extends "base.html" %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
    <h2>Здравствуйте, {{ request.user.first_name }}:</h2>
    <p>Дата рождения: {{ request.user.profile.birth }}</p>
    <a href="{% url "lesson:edit_profile" %}">Изменить профиль:</a>
    <h2>Команды автора:     </h2><br>
    <ul>
        {% for team in request.user.user_teams.all %}
            <li>
                <h3> <a href="{{team.get_absolute_url}}">{{ team.title }}</a></h3>
                Опубликовано: {{ team.publish }}
            </li>
        {% endfor %}
    </ul>

    <p>Аватар: <img src="{{ request.user.profile.photo.url }}" alt="alter text"></p>
{% endblock %}