{% extends "base.html" %}

{% block title %}О сайте{% endblock %}

{% block content %}
    <h2>О сайте</h2>
    <p>
        Здравствуйте любители баскетбола! Одна из проблем, с которой сталкиваются все кто любит играть в этот вид спорта – поиск спарринг партнеров для игры. Решение этой проблемы найдено! Заполните данные о своей команде ниже в форме или возьмите оттуда чей-либо контакт для игры.

Заполните форму ниже и Ваша команда попадёт в базу.
    </p>
    <h2>Создать новую команду:</h2>
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Create Team">
    </form>
{% endblock %}