{% extends "base.html" %}

{% block title %}
    Команды
{% endblock %}

{% block content %}
    <h1>Команды:</h1>
    {% for team in teams %}
        <h3>{{ team.title }}</h3>
        <p>
            {{ team.body|truncatewords:5 }}
        </p>
        <a href="{{team.get_absolute_url}}">Подробнее о команде</a> <br>
        Опубликовано {{ teams.publish }} {{ teams.author }}
    {% endfor %}
    <p>
        <a href="{% url "lesson:create_form" %}">Создать новую команду</a>
    </p>
{% endblock %}