{% extends "base.html" %}

{% block title %}{{ team.title }}{% endblock %}

{% block content %}
        <a href="{% url "lesson:all_teams" %}">Назад к командам</a>
        <h1>{{ team.title }}</h1>
        <p>{{ team.team_type }}</p>
        <p>{{ team.body|linebreaks }}</p>
        <img src="{{ team.cover.url }}">
        <p>Опубликовано {{ team.publish }} автором {{ team.author }}</p>
        <a href="{% url "lesson:share_team" team.id %}">Поделиться</a>
        <p> Оставить комментарий о команде и о зале, в котором проходят тренировки. </p>
    {# comments for team #}
    {% if commented %}
        Вы оставили комментарий
    {% else %}
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
        <input type="submit" value="Оставить комментарий">
    {% endif %}
    </form>
        <br>
        {% with team.comments.count as total_comments %}
            {{ total_comments }} комментарий{{ total_comments|pluralize }}
        {% endwith %}
<br>
        {% for comment in team.comments.all %}
            <p> Комментарий #{{ forloop.counter }} от пользователя {{ comment.name}}</p>
            {{ comment.body }}
        {% empty %}
            Здесь пока нет комментариев. Вы можете быть первым, кто оставит комментарий.
        {% endfor %}
        
{% endblock %}