{% extends "base.html" %}

{% block title %}{{ team.title }}{% endblock %}

{% block content %}
        <a href="{% url "lesson:all_teams" %}">Назад к командамз</a>
        <h1>{{ team.title }}</h1>
        <p>{{ team.team_type }}</p>
        <p>{{ team.body }}</p>
        <img src="{{ team.cover.url }}">
        <p>Published {{ team.publish }} by {{ team.author }}</p>
        <a href="{% url "lesson:share_team" team.id %}">Share</a>

    {# comments for team #}
    {% if commented %}
        You've left a comment
    {% else %}
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
        <input type="submit" value="Add comment">
    {% endif %}
    </form>
        <br>
        {% with team.comments.count as total_comments %}
            {{ total_comments }} comment{{ total_comments|pluralize }}
        {% endwith %}
<br>
        {% for comment in team.comments.all %}
            <p> Comment #{{ forloop.counter }} by {{ comment.name}}</p>
            {{ comment.body }}
        {% empty %}
            No comments yet. You can be the first one.
        {% endfor %}
        
{% endblock %}