/* .bg {
    background-image: url( '/static/img/basket.jpg' );
    background-size: 1800px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
} */
h3 {
    color: rgb(126, 185, 47);
}
